h1 {
    text-align: center;
}
button {
    margin-bottom: 10px;
}
.grid {
    margin: auto;
    width: 60%;
    border: 20px solid #191970;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}
.box {
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
    background-color: #191970;
    text-align:center;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.card {
    margin: auto;
    margin-top: 0;
    width: 12%;
    padding: 10px;
    margin-bottom: 10px;
}
.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create 8 equal columns that sits next to each other */
.column {
    flex: 12.5%;
    max-width: 12.5%;
    padding: 0px 2px 0 2px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

h5 #modal-title {
    justify-content: center;
    text-align: center;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .grid {
        width: 95%;
    }
    .row {
        flex-wrap: nowrap;
        display: inline-block;
    }
    .column {
        flex: 33%;
        max-width: 25%;
        float: right;
    }
    .column img {
        width: 110%;
    }
    .box {
        width: 95%;
    }
    .card {
        width: 30%;
    }
}